# [SOLUTION] Worldwide Sales Statistics

## Solution 1

In [3]:
"""
SELECT 
    country.name AS country_name,
    mc_sales.name AS motorcycle_model,
    mc_sales.mc_country_revenue AS revenue
FROM (
    SELECT 
        aggsales.model_id,
        mc.name,
        aggsales.country_id,
        aggsales.mc_country_sales,
        mc.price,
        aggsales.mc_country_sales * mc.price AS mc_country_revenue
    FROM (
        SELECT
            model_id,
            country_id,
            COUNT(1) as mc_country_sales
        FROM 
            sales 
        GROUP BY 
            model_id
            country_id aggsales
        LEFT JOIN (
            SELECT 
                *
            FROM 
                motorcycle_model
        ) mc
        ON 
            aggsales.model_id = mc.id
    ) mc_sales
    LEFT JOIN (
        SELECT
            id,
            name
        FROM 
            country
    )
    ON
        mc_sales.country_id = country_id
) 
"""

'\nSELECT \n    country.name AS country_name,\n    mc_sales.name AS motorcycle_model,\n    mc_sales.mc_country_revenue AS revenue\nFROM (\n    SELECT \n        aggsales.model_id,\n        mc.name,\n        aggsales.country_id,\n        aggsales.mc_country_sales,\n        mc.price,\n        aggsales.mc_country_sales * mc.price AS mc_country_revenue\n    FROM (\n        SELECT\n            model_id,\n            country_id,\n            COUNT(1) as mc_country_sales\n        FROM \n            sales \n        GROUP BY \n            model_id\n            country_id aggsales\n        LEFT JOIN (\n            SELECT \n                *\n            FROM \n                motorcycle_model\n        ) mc\n        ON \n            aggsales.model_id = mc.id\n    ) mc_sales\n    LEFT JOIN (\n        SELECT\n            id,\n            name\n        FROM \n            country\n    )\n    ON\n        mc_sales.country_id = country_id\n) \n'

## Solution 2

In [4]:
"""
SELECT
    country,
    motorcycle_model,
    SUM(sales) AS revenue
FROM
    (SELECT
    *,
    price*quantity AS sales
    FROM
        (SELECT
            M.name AS motorcycle_model,
            price,
            quantity,
            SUBSTRING(sales_date,1,4) AS yr,
            C.name AS country
        FROM
            sales AS S
        INNER JOIN
            motorcycle_model AS m
        ON
            S.model_id = M.id
        INNER JOIN
            country AS C
        ON
            S.country_id = C.id) 
        AS part1) 
    AS part2
WHERE
    yr = '2018'
GROUP BY
    country,
    motorcycle_model
"""

"\nSELECT\n    country,\n    motorcycle_model,\n    SUM(sales) AS revenue\nFROM\n    (SELECT\n    *,\n    price*quantity AS sales\n    FROM\n        (SELECT\n            M.name AS motorcycle_model,\n            price,\n            quantity,\n            SUBSTRING(sales_date,1,4) AS yr,\n            C.name AS country\n        FROM\n            sales AS S\n        INNER JOIN\n            motorcycle_model AS m\n        ON\n            S.model_id = M.id\n        INNER JOIN\n            country AS C\n        ON\n            S.country_id = C.id) \n        AS part1) \n    AS part2\nWHERE\n    yr = '2018'\nGROUP BY\n    country,\n    motorcycle_model\n"

---